.myBrand{
    font-size: clamp(0.98rem, 2vw, 2rem);
    font-weight: bold;
    margin-left: 10px;
    transition: color 0.4s ease;
}

[data-bs-theme="dark"] .myBrand {
    color: var(--bs-secondary-color); /* matches your dark wave accent */
}

[data-bs-theme="light"] .myBrand {
    color: var(--bs-secondary-color); /* matches your light wave accent */
}

[data-bs-theme="light"] .customNavbar {
  background-color: var(--bs-tertiary-bg);
  border: 1px solid var(--bs-border-color);
}

[data-bs-theme="dark"] .customNavbar {
  background-color: var(--bs-secondary-bg);
  border: 1px solid var(--bs-border-color);
}